.messages-container {
  display: flex !important;
  flex-direction: column;
  height: 60vh;
  text-align: left;
  overflow: scroll;
}

.message-row {
  display: flex;
  flex-direction: column;
}
.message {
  align-items: left;
  justify-items: left;
  background-color: #8576e5;
  border-radius: 25px;
  /* border-bottom-left-radius: 0; */
  padding: 15px;
  color: white;
  /* max-width: 20vw; */
  /* width: 100%; */
  width: 70%;
  margin: 1vmin 2vmin;
}

.own {
  background-color: #aba1ed;
  text-align: right;
  justify-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 25px;
}
.sender-text {
  font-weight: bold;
  color: white;
}
