.messages-container {
  display: flex !important;
  flex-flow: column;
  flex-direction: column;
  height: inherit;
  text-align: left;
  border: 3px solid #2e15d13f;
  border-bottom: none;
  overflow: scroll;

  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.message-row {
  display: flex;
  flex-direction: column;
}

.message {
  align-items: left;
  justify-items: left;
  background-color: #1165eb;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  padding: 15px;
  color: white;
  max-width: 25vw;
  margin: 1vmin 2vmin;
}

.own {
  background-color: #4c39c9;
  text-align: right;
  justify-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 25px;
  border-bottom-right-radius: 0;
}
.sender-text {
  font-weight: bold;
  color: white;
}
