.messages-container {
  display: flex !important;
  flex-direction: column;
  height: 60vh;
  text-align: left;
  overflow: scroll;
}

.message-row {
  display: flex;
  flex-direction: column;
}
.message {
  align-items: left;
  justify-items: left;
  background-color: #1165eb;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  padding: 15px;
  color: white;
  max-width: 25vw;
  margin: 1vmin 2vmin;
}

.own {
  background-color: #4c39c9;
  text-align: right;
  justify-items: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  justify-self: flex-end;
  align-self: flex-end;
  border-radius: 25px;
  border-bottom-right-radius: 0;
}
.sender-text {
  font-weight: bold;
  color: white;
}
