.messages-container {
  display: flex;
  flex-flow: column;
  flex-direction: column !important;
  border-top: 3px solid #2f15d1;

  border-radius: 25px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
/* .inputEmoji {
} */

.chat-container {
  margin-top: 7vmin;
  border: 3px solid #2f15d1;

  border-radius: 25px;
}

.chatmember-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vmin;
}

.chatmember-image {
  align-items: flex-start;
}
.searchIcon {
  display: flex;
  align-items: center;
  font-size: 4vmin;
}
