.messages-container {
  display: flex;
  flex-flow: column;
  flex-direction: column !important;
  background-color: rgb(249, 248, 248);
  border-radius: 25px;
}
.receiver-data { 
  height: 10vmin; 
  width:10
}
