.profileImg {
  border: 2px solid #2f15d1;
  border-radius: 100px;
  width: 60px;
  height: 60px;
  margin: 10px;
  object-fit: cover;
}

.statusIcon {
  width: 40px;
}
.badge {
  align-items: center;
  justify-items: center;
}
.name {
  color: #2f15d1;
  font-weight: bold;
}
