* { 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #ffffff;
  align-items: center;
  vertical-align: middle;
}

.section-heading {
  color: #2f15d1;
  font-weight: bold;
  text-transform: capitalize;
  padding: 10px;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: 0.1vmin solid var(--tan-3);
  border-radius: 0.5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}